.interest {
  &__carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media only screen and (max-width: 500px){
      grid-template-columns: 1fr 1fr;
    }
  //   @media screen and (max-width: 800px) {
  //     grid-template-columns: 1fr 1fr 1fr;
  // }
  //   @media screen and(max-width: 500px) {
  //     grid-template-columns: 1fr 1fr;
  //   }
    &__img {
      height: 80px;
      width: 80px;
    }
  }
}